# ignore VS Code settings folder
.vscode/

# ignore skin temp files specific to (& created on) end-use scenarios
Skins/Goo-e/@Resources/Goo-e/Games/List/Origin/UTF8.txt
Skins/Goo-e/@Resources/Images/MyComputer/Screenshot.png
Skins/Goo-e/@Resources/Images/FlipClock/hours10.png
Skins/Goo-e/@Resources/Images/FlipClock/hours1.png
Skins/Goo-e/@Resources/Images/FlipClock/minutes10.png
Skins/Goo-e/@Resources/Images/FlipClock/minutes1.png
Skins/Goo-e/@Resources/Images/FlipClock/seconds10.png
Skins/Goo-e/@Resources/Images/FlipClock/seconds.png
Skins/Goo-e/@Resources/Images/FlipClock/Days10.png
Skins/Goo-e/@Resources/Images/FlipClock/Months.png
Skins/Goo-e/@Resources/Images/FlipClock/Am-Pm.png
Skins/Goo-e/@Resources/Images/CircleClock/hours.png
Skins/Goo-e/@Resources/Images/CircleClock/minutes.png
Skins/Goo-e/@Resources/Images/CircleClock/Seconds.png

# ignore downloaded boxart images for "any-DRM" games service
Skins/Goo-e/Games/List/User Obtained Boxart/*.*